<div class="form-grou">
    <label for="number">Number:</label>
    <input type="text" [(ngModel)]="number" class="form-control" id="number">
</div>

<div class="">
    <p>Sem formatação:</p>
    <p>{{ number | number }}</p>
   

    <p>Resultado com formatação:</p>
    <p>{{ number | number:'2.0-1'}}</p>

    <p>Resultado em moeda:</p>
    <p>{{ number | currency: 'BRL'}}</p>

    <p>Resultado em porcentagem:</p>
    <p>{{ number | percent}}</p>

    <p>Data de Hoje</p>
    <p>{{ date }}</p>
    <p>{{ date | date }}</p>
    <p>{{ date | date: 'fullDate' | uppercase }}</p>

    <p>{{ text | uppercase}}</p>
</div>

<div class="container">
    <div class="col">
        <div class="row-6">
            <div class="form-group">
                <label for="text">Print Pipe Test:</label>
                <input type="text" name="text" id="text" #nome>
                <button class="btn btn-primary" (click)="add(nome.value)">add</button>
            </div>
        </div>
        <div class="row-6">
            <h3>Lista formatada</h3>
            <p>Tamanho da lista {{ nomes.length }}</p>
            <p>{{ nomes | printList}}</p>
        </div>
    </div>
</div>